<div [ngStyle]="{'background' : 'url(../assets/images/signin-header.gif)'}">
  <app-navbar></app-navbar>
  <br>

  <div class="container">

    <div class="row">
      <div class="text-center">
        <h1>Resume</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 simploy-outer-box">

        <div style="width: 100px;">
          <h4><strong>Summary</strong></h4>
          <p>
           {{summary}}
          </p>
          <br>
        </div>

        <form (ngSubmit)="updateSummary()" #summaryF="ngForm">
          <label for="description">Edit <span class="text-muted">(500 chars max)</span></label>
          <textarea  
            id="description" 
            name="description" 
            class="form-control" 
            style="resize: none"
            [(ngModel)]="description"
            maxlength="500"
            value = {{resume.description}}
          >
          </textarea>
          <br>
          <button class="btn btn-success custom-width" type="submit">Update</button>
        </form>

        <!-- *********************************************** -->
        <br>
        <hr>
        <h4><strong>Skills</strong></h4>
 

        <div *ngFor="let skill of yourskills; let w = index">
      
          <div class="row">
            <div class="col-xs-8">
              {{skill.title}}
            </div>

            <div class="col-xs-4">
              <button class="btn btn-danger" (click)="deleteSkill(w)">Remove</button>
            </div>

            </div>
            <hr style="opacity: .25 !important">
          </div>
                 
        <br>
 
        <label>Add New Skill</label>
 
        <form (ngSubmit)="addSkill()" #addSkillF="ngForm">
          <div class="radio" *ngFor="let skill of skills">
            <label>
            <input
              type="radio"
              id="newskill"
              name="newskill"
              [ngModel]="skills[0]"
              [value]="skill"
            >
              {{skill}}
            </label>
          </div>
 
          <button class="btn btn-success custom-width" type="submit">Add SKill</button>
        </form>
 
        <!-- *********************************************** -->
        <br>
        <hr>  
        <h4><strong>Education</strong></h4>


        <div *ngFor="let edu of educations; let i = index">

          <div class="row">
            <div class="col-xs-6">
              {{edu.school}}
            </div>
            
            <div class="col-xs-2">
              {{edu.gradYear}}
            </div>

            <div class="col-xs-2">
              {{edu.type}}&emsp;
            </div>

            <div class="col-xs-2">
              <button class="btn btn-danger" (click)="deleteEducation(i)" style="float: right">Remove</button>
            </div>

          </div>
          <hr style="opacity: .25 !important">
        </div>

        <br>

        <label>Add New Education</label>
        <form (ngSubmit)="updateEducations()" #eduF="ngForm">
          <label for name="school">School</label>
          <input 
            class="form-control"  
            type="school"
            name="school" 
            [(ngModel)]="school"
            ngModel 
            required
            #schoolField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!schoolField.valid && eduF.submitted">
            Please enter a valid school
          </span>

          <br>

          <label for name="gradyear">Graduation Year (est)</label>
          <input 
            class="form-control"  
            type="number"
            name="gradyear" 
            [(ngModel)]="gradyear"
            ngModel 
            required
            #gradyearField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!gradyearField.valid && eduF.submitted">
            Please enter a valid year
          </span>

          <br>

          <label>Education Type</label>
          <div class="radio" *ngFor="let edutype of edutypes">
            <label>
            <input
              type="radio"
              id="edutype"
              name="edutype"
              [(ngModel)]="edutypes[0]"
              [value]="edutype"
            >
              {{edutype}}
            </label>
          </div>
          
          <br>
          <button class="btn btn-success custom-width" type="submit">Add Education</button>
        </form>        
        
        <!-- *********************************************** -->
        <br>
        <hr>  
        <h4><strong>Certifications</strong></h4>

        <table>
          <tbody>
            <div *ngFor="let certif of certifs; let i = index">
              <tr>
                <td>
                  {{certif.title}}&emsp;
                </td>
                <td>
                  {{certif.gotYear}}&emsp;
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteCert(i)" style="float: right">Remove</button>
                </td>
              </tr>
              <br>
            </div>
          </tbody>
        </table>

        <br>
        <label>Add New Certificate</label>
        <form (ngSubmit)="updateCertificates()" #certF="ngForm">
          <label for="ctitle">Title</label>
          <input
            type="text"
            id="ctitle" 
            name="ctitle" 
            class="form-control" 
            [(ngModel)]="ctitle"
            ngModel 
            required
            #ctitleField="ngModel">
          <span 
            class="help-block invalidInput" 
            *ngIf="!ctitleField.valid && certF.submitted">
            Please enter a valid title
          </span>
          <br>

          <label for="gotYear">Year</label>
          <input
            type="number"
            id="gotYear" 
            name="gotYear" 
            class="form-control" 
            [(ngModel)]="gotyear"
            ngModel 
            required
            #gotyearField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!gotyearField.valid && certF.submitted">
            Please enter a valid year
          </span>
          <br>
          <button class="btn btn-success custom-width" type="submit">Add Certificate</button>
        </form>

        <!-- *********************************************** -->
        <br>
        <hr>  
        <h4><strong>Experience</strong></h4>

        <table>
          <tbody>
            <div *ngFor="let exp of explist; let i = index">
              <tr>
                <td>
                  {{exp.title}}&emsp;
                </td>
                <td>
                  {{exp.company}}&emsp;
                </td>
                <td>
                  {{exp.startYear}}&emsp;
                </td>
                <td>
                  {{exp.endYear}}&emsp;
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteExperience(i)" style="float: right">Remove</button>
                </td>
              </tr>
              <br>
            </div>
          </tbody>
        </table>

        <br>

        <label>Add New Experience</label>
        <form (ngSubmit)="updateExpList()" #expF="ngForm">
          <label for="explist">Title</label>
          <input
            type="text"
            id="etitle" 
            name="etitle" 
            class="form-control" 
            [(ngModel)]="etitle"
            ngModel 
            required
            #etitleField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!etitleField.valid && expF.submitted">
            Please enter a valid year
          </span>
        
          <br>

          <label for="company">Company</label>
          <input
            type="text"
            id="company" 
            name="company" 
            class="form-control" 
            [(ngModel)]="company"
            ngModel 
            required
            #companyField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!companyField.valid && expF.submitted">
            Please enter a valid company
          </span>

          <br>

          <label for="startyear">Start Year</label>
          <input
            type="text"
            id="startyear" 
            name="startyear" 
            class="form-control" 
            [(ngModel)]="startyear"
            ngModel 
            required
            #startyearField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!startyearField.valid && expF.submitted">
            Please enter a valid start year
          </span>

          <br>

          <label for="endyear">End Year</label>
          <input
            type="text"
            id="endyear" 
            name="endyear" 
            class="form-control" 
            rows="6" 
            [(ngModel)]="endyear"
            ngModel 
            required
            #endyearField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!endyearField.valid && expF.submitted">
            Please enter a valid end year
          </span>

          <br>

          <button class="btn btn-success custom-width" type="submit">Add Experience</button>
        </form>

        <!-- *********************************************** -->
        <br>
        <hr>  
        <h4><strong>Projects</strong></h4>

        <table>
          <tbody>
            <div *ngFor="let project of projects; let i = index">
              <tr>
                <td>
                  {{project.title}}&emsp;
                </td>
                <td>
                  {{project.startDate}}&emsp;
                </td>
                <td>
                  {{project.endDate}}&emsp;
                </td>
                <td>
                  {{project.groupSize}}&emsp;
                </td>
                <td>
                  {{project.description}}&emsp;
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteProject(i)" style="float: right">Remove</button>
                </td>
              </tr>
              <br>
            </div>
          </tbody>
        </table>

        <br>

        <label>Add New Project</label>
        <form (ngSubmit)="updateProjects()" #projectF="ngForm">
          <label for="projects">Title</label>
          <input
            type="text"
            id="title" 
            name="title" 
            class="form-control" 
            [(ngModel)]="title"
            ngModel 
            required
            #titleField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!titleField.valid && projectF.submitted">
            Please enter a valid title
          </span>

          <br>

          <label for="startDate">Start Date</label>
          <input
            type="text"
            id="startDate" 
            name="startDate" 
            class="form-control" 
            [(ngModel)]="startDate"
            ngModel 
            required
            #startDateField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!startDateField.valid && projectF.submitted">
            Please enter a valid start date
          </span>

          <br>

          <label for="endDate">End Date</label>
          <input
            type="text"
            id="endDate" 
            name="endDate" 
            class="form-control" 
            [(ngModel)]="endDate"
            ngModel 
            required
            #endDateField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!endDateField.valid && projectF.submitted">
            Please enter a valid end date
          </span>

          <br>

          <label for="groupSize">Group Size</label>
          <input
            type="number"
            id="groupSize" 
            name="groupSize" 
            class="form-control" 
            [(ngModel)]="groupsize"
            ngModel 
            required
            #groupsizeField="ngModel"
          >
          <span 
            class="help-block invalidInput" 
            *ngIf="!groupsizeField.valid && projectF.submitted">
            Please enter a valid group size
          </span>
          <br>

          <label for="description2">Description <span class="text-muted">(500 chars max)</span></label>
          <textarea  
            id="description2" 
            name="description2" 
            class="form-control" 
            [(ngModel)]="description2"
            ngModel 
            required
            #descField="ngModel"
            style="resize: none"
            maxlength="500"
          ></textarea>
          <span 
            class="help-block invalidInput" 
            *ngIf="!descField.valid && projectF.submitted">
            Please enter a valid description
          </span>
          <br>

          <button class="btn btn-success" type="submit">Add Project</button>
        </form>

        <br>
        
      </div>
    </div>


  </div>

  <br>
  <br>
  <br>

</div>