<div [ngStyle]="{'background' : 'url(../assets/images/signin-header.gif)'}">
  <app-navbar></app-navbar>

  <div class="container">

    <div class="row">
      <div class="text-center">
        <h1>Submitted Postings</h1>
      </div>
    </div>

    <div class="simploy-tableData simploy-shadow">
      <table datatable class="row-border hover">
        <thead>
          <tr>
            <th>Company</th>
            <th>Job Title</th>
            <th>Location</th>
            <th>Skills</th>
            <th>Post Date</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jobdata of tableHold">
            <td>
              {{jobdata["company"]}}
            </td>
            <td>
              {{jobdata["title"]}}
            </td>
            <td>
              {{jobdata["location"]}}
            </td>
            <td>
              {{jobdata["skills"]}}
            </td>
            <td>
              {{jobdata["postDate"]}}
            </td>
            <td>
              <button class="btn btn-danger" (click)='delete(jobdata["jobId"])'>
                Delete
              </button>
              <br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />
    <br />
    <br />
</div>