<label for username>First Name</label>
<input class="form-control" type="text" placeholder="First Name" name="firstname">
<br />
<label for username>Last Name</label>
<input class="form-control" type="text" placeholder="Last Name" name="lastname">
<br />
<label for username>Email</label>
<input class="form-control" type="email" placeholder="Email" name="email">
<br />
<label for username>Username</label>
<input class="form-control" type="text" placeholder="Username" name="username">
<br />
<label for login>Password</label>
<input class="form-control" type="password" placeholder="Password" name="login">
<br />
<label for login>Confirm Password</label>
<input class="form-control" type="password" placeholder="Password" name="password">
<br />
<button class="btn simploy-bgcolor">Register</button>
