<nav class="navbar navbar-default navbar-bgcolor">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/info" class="navbar-brand" style="color: white !important"><span style="color: rgb(0, 100, 75);"><strong>S</strong></span>imploy</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/profile">Profile</a>
        </li>
        <li>
          <a routerLink="/viewresumes">Resumes</a>
        </li>
        <li>
          <a routerLink="/viewjobs">Jobs</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li (click)="logout()">
          <a routerLink="/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>