<div [ngStyle]="{'background' : 'url(../assets/images/signin-header.gif)'}">
  <app-navbar></app-navbar>

  <div class="container">

    <div class="row">
      <div class="text-center">
        <h1>Job Postings</h1>
      </div>
    </div>

    <div class="simploy-tableData simploy-shadow">
      <table datatable class="row-border hover">
        <thead>
          <tr>
            <th>Company</th>
            <th>Job Title</th>
            <th>Location</th>
            <th>Skills</th>
            <th>Post Date</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jobdata of tableData">
            <td>
              {{jobdata["company"]}}
            </td>
            <td>
              {{jobdata["title"]}}
            </td>
            <td>
              {{jobdata["location"]}}
            </td>
            <td>
              {{jobdata["skills"]}}
            </td>
            <td>
              {{jobdata["postDate"]}}
            </td>
            <td>
              <button class="btn btn-success" (click)='getJobData(jobdata["company"],jobdata["title"],
              jobdata["location"],jobdata["description"],jobdata["postDate"],jobdata["skills"],jobdata["user"])'>
                View Details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />
    <br />
    <br />
    
    <div *ngIf="viewJob">
      <div class="jumbotron detail-outer-box">
        <h2 class="text-center">Job Information:</h2>
        <br>
        <div Class="detail-inner-box">
          <h3>{{title}} in {{location}}</h3>
          <h3>Company: {{company}}</h3>
          <h3>Description : {{description}}</h3>
          <div *ngIf="skillDatab">
          <ul>
            <h3 >Skills</h3>
            <li *ngFor="let skillData of skills">
              <h3>{{skillData}}</h3>
            </li>
          </ul>
        </div>
        
          <hr>
          <footer>Contact Information:<br> Name- {{user.firstName}} {{user.lastName}} <br> Email- {{user.email}} <br> Phone - {{user.pnumber}} </footer>
          <br />
        </div>
      </div>
    </div>

  </div>

  <br />
  <br />
  <br />

</div>

<!-- <div class="container" *ngIf="viewJobs">
  <div class="jumbotron">
    <h1>Resume</h1>
    <br>
    <div class="jumbotron" style="background-color:rgb(104, 104, 221)">""
      <h2>{{firstname|uppercase}} {{lastname|uppercase}}</h2>
      <h2>{{Email}}</h2>
      <ul>
        <li *ngFor="let skillData of skill">
          <h3>{{skillData}}</h3>
        </li>
      </ul>
    </div>
  </div>
</div> -->
