<div [ngStyle]="{'background' : 'url(../assets/images/signin-header.gif)'}">
  <app-navbar></app-navbar>

  <div class="container">

    <div class="row">
      <div class="text-center">
        <h1>Job Postings</h1>
      </div>
    </div>

    <div class="simploy-tableData simploy-shadow">
      <table datatable class="row-border hover">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Skills</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userdata of tableData">
            <td>
              {{userdata["email"]}}
            </td>
            <td>
              {{userdata["first"]}}
            </td>
            <td>
              {{userdata["last"]}}
            </td>
            <td>
              {{userdata["skills"]}}
            </td>
            <td>
              <button class="btn btn-success" (click)='getUserData(userdata["id"],userdata["first"],userdata["last"],userdata["email"],userdata["phone"],userdata["skills"])'>
                View Details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />
    <br />
    <br />

    <div *ngIf="viewJob">
      <div class="jumbotron detail-outer-box">
        <h2 class="text-center">Title</h2>
        <br>
        <div Class="detail-inner-box">
          <h3>Name: {{firstname}} {{lastname}}</h3>
          <h3>Email: {{email}}</h3>
          <h3>Phone: {{phone}}</h3>
         
          <ul>
            <h3>Skills</h3>
            <li *ngFor="let skillData of skills">
              <h3>{{skillData}}</h3>
            </li>
          </ul>

        </div>
      </div>
    </div>

  </div>

  <br />
  <br />
  <br />

</div>

<!-- <div class="container" *ngIf="viewJobs">
  <div class="jumbotron">
    <h1>Resume</h1>
    <br>
    <div class="jumbotron" style="background-color:rgb(104, 104, 221)">""
      <h2>{{firstname|uppercase}} {{lastname|uppercase}}</h2>
      <h2>{{Email}}</h2>
      <ul>
        <li *ngFor="let skillData of skill">
          <h3>{{skillData}}</h3>
        </li>
      </ul>
    </div>
  </div>
</div> -->