<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>skills</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userdata of tableData">
      <!--use click to get the data-->
      <td (mouseover)='getUserData(userdata["email"],userdata["first"],userdata["last"],userdata["skills"])'>
        <i> {{userdata["email"]}}</i>
      </td>
      <td (mouseover)='getUserData(userdata["email"],userdata["first"],userdata["last"],userdata["skills"])'>
        {{userdata["first"]}}
      </td>
      <td (mouseover)='getUserData(userdata["email"],userdata["first"],userdata["last"],userdata["skills"])'>
        {{userdata["last"]}}
      </td>
      <td (mouseover)='getUserData(userdata["email"],userdata["first"],userdata["last"],userdata["skills"])'>
        {{userdata["skills"]}}
      </td>
    </tr>
  </tbody>
</table>
<div class="container" *ngIf="viewResume">
  <div class="jumbotron">
    <h1>Resume</h1>
    <br>
    <div class="jumbotron" style="background-color:rgb(104, 104, 221)">""
      <h2>{{firstname|uppercase}} {{lastname|uppercase}}</h2>
      <h2>{{Email}}</h2>
      <ul>
        <li *ngFor="let skillData of skill">
          <h3>{{skillData}}</h3>
        </li>
      </ul>
    </div>
  </div>
<!-- <div class="container" *ngIf="viewResume">
  <div class="jumbotron">
    <h1>Resume</h1>
    <br>
    <div class="jumbotron" style="background-color:rgb(104, 104, 221)">""
      <h2>{{firstname|uppercase}} {{lastname|uppercase}}</h2>
      <h2>{{Email}}</h2>
      <ul>
        <li *ngFor="let skillData of skill">
          <h3>{{skillData}}</h3>
        </li>
      </ul>
    </div>
  </div> -->
</div>