<div [ngStyle]="{'background' : 'url(../assets/images/signin-header.gif)'}">
  

  <div class="container">
    <app-navbar></app-navbar>
    <div class="row">
      <div class="text-center">
        <h1>Profile</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 simploy-outer-box">
        <!-- <p> -->
          <strong>Account Information:</strong>
          <br><br>
          <!-- <br> <strong>Email:</strong> {{user.email}}
          <br> <strong>First Name:</strong> {{user.firstName}}
          <br> <strong>Last Name:</strong> {{user.lastName}}
          <br> <strong>Password:</strong> {{user.password}}
          <br> <strong>Phone Number:</strong> {{user.pnumber}}
          <br> -->
          <table style="border: none">
            <tr>
              <td><strong>Email:</strong></td>
              <td>{{user.email}}</td>
            </tr>
            <tr>
              <td><strong>First Name:&emsp;</strong></td>
              <td>{{user.firstName}}</td>
            </tr>
            <tr>
              <td><strong>Last Name:</strong></td>
              <td>{{user.lastName}}</td>
            </tr>
            <tr>
              <td><strong>Password:</strong></td>
              <td>{{user.password}}</td>
            </tr>
            <tr>
              <td><strong>Phone:</strong></td>
              <td>{{user.pnumber}}</td>
            </tr>
          </table>
        <!-- </p> -->
        <br>
        <form (submit)="updateUser($event)">
          <label>Email</label>
          <input type="text" class="form-control">
          <br>
          <label>First Name</label>
          <input type="text" class="form-control">
          <br>
          <label>Last Name</label>
          <input type="text" class="form-control">
          <br>
          <label>Password</label>
          <input type="password" class="form-control">
          <br>
          <label>Phone Number</label>
          <input type="number" class="form-control">

          <br>

          <button class="btn btn-success" type="submit">Update</button>

        </form>

      </div>
    </div>

    <br>
    <br>
    <br>

  </div>
</div>
