<app-navbar></app-navbar>
<!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Resume">
    <ng-template ngbPanelContent>
      <app-viewsingleresume></app-viewsingleresume>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Jobs">
    <ng-template ngbPanelContent>
      <app-viewjobs></app-viewjobs>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Resumes">
    <ng-template ngbPanelContent>
      <app-viewresumes></app-viewresumes>
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->
<form (submit)="updateUser($event)">
  <p>
      Account Information: <br>
      First Name: {{user.firstName}}<br>
      Last Name: {{user.lastName}}<br>
      email: {{user.email}}<br>
      Password: {{user.password}}<br>
      Phone Number: {{user.pnumber}}<br>
  </p>
<div class="input">
    <label>First Name</label>
    <input type="text">
</div>
<div class="input">
    <label>Last Name</label>
    <input type="text">
</div>
<div class="input">
  <label>email</label>
  <input type="text">
</div>
<div class="input">
  <label>Password</label>
  <input type="password">
</div>
<div class="input">
  <label>Phone Number</label>
  <input type="number">
</div>
<div class="input">
  <input type="submit" value="Update">
</div>
</form>
