<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Resume">
    <ng-template ngbPanelContent>
      <app-viewsingleresume></app-viewsingleresume>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Jobs">
    <ng-template ngbPanelContent>
      <app-skills></app-skills>
      <app-viewjobs></app-viewjobs>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Resumes">
    <ng-template ngbPanelContent>
      <app-skills></app-skills>
      <app-viewresumes></app-viewresumes>
    </ng-template>
  </ngb-panel>
</ngb-accordion>