<form (ngSubmit)="login()" #loginF="ngForm">
<label for username>Email</label>
<input 
    class="form-control"  
    type="text"
    name="email"
    placeholder="Email" 
    [(ngModel)]="email"
    ngModel 
    required 
    #emailField="ngModel">
    <span class="help-block" *ngIf="!emailField.valid && emailField.touched"></span>
<br />
<label for login>Password</label>
<input 
    class="form-control"  
    type="password"
    name="password"
    placeholder="Password"
    [(ngModel)]="password" 
    ng-model
    required
    #passwordField="ngModel">
    <span class="help-block" *ngIf="!passwordField.valid && passwordField.touched"></span>
    <span class="help-block invalidInput text-center" *ngIf="(!validInput)">You have entered invalid information</span>
<br />
<button type="submit" class="btn simploy-bgcolor">Login</button>
</form>